// === default ===
*
{
    box-sizing: border-box;
}
a
{
    text-decoration: none;
    &:hover{}
}
body
{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
ul
{
    padding: 0;
    margin: 0;
    li 
    {
        list-style: none;
    }
}

.section-inner
{
    width: 90%;
    margin: 0 auto;
}


// === default ===

// === variables ===

// === variables ===

// === page ===
// === header ===
.section-header
{
    width: 100%;
    background: linear-gradient(90deg, #2C2E3A, #4D5661);
    .section-inner
    {
        display: flex;
        padding: 10px 15px;
        align-items: center;
    }
    &__burger
    {
        display: inline-block;
        margin-right: 70px;
        span 
        {
            color: #2C2E3A;
        }
        .hamburger
        {
            border: none;
            outline: none;
        }
    }
    &__user
    {
        display: flex;
        align-items: center;
        &-icon
        {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        &-name
        {
            h3 
            {
                color: #2C2E3A;
                font-size: 25px;
                text-transform: uppercase;
            }
        }
    }
}
// === header ===

// === content ===

// ===content ===
// === page ===